.lyricsh2 {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 5%;
}

.lyricstext {
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}