
.liked {
    background-color: rgb(39, 212, 62);
}

button {
    border-radius: 5px;
    padding: 3%;
    width: 50%;
    margin: 0 auto;
    border: none;
    box-shadow: 1px 1px 2px 0.2px rgba(0, 0, 0, 0.5);

}

button:hover {
    cursor: pointer;
    background-color: rgb(216, 255, 42);
}